- Created by user:  {{ lookup('env','USER') }}
{% if symbol is defined %}
- Cryptopia.symbol: {{ symbol | upper }}
{% endif %}
- Cryptopia.vm-template: {{size | upper }}
- Task id: xxxx
- Created on: {{ lookup('pipe', 'date') }}
{% if gitCommitHash is defined %}
- Git commit: {{ gitCommitHash.stdout }}
{% else %}
{% endif %}
{% if gitRemote is defined %}
- Git commit: {{ gitRemote.stdout }}
{% else %}
{% endif %}
